body{
font-family: Arial;
}

.header{
display: flex;
justify-content: space-between;
align-items: center;
background-color: dodgerblue;
color: white;
padding: 20px 30px;
}

.header a{
text-decoration: none;
background-color:lightgreen;
color: white;
font-family: bold;
font-size:18px;
padding: 8px 10px;
border-radius: 4px;
}

.table-box{
display:flex;
justify-content: center;
text-align: center;
margin-top: 20px;
}

table{
border-collapse: collapse;
width: 75%;
}

th, td{
border: 1px solid grey;
padding: 10px;
}

th{
background-color: black;
color: white;
font-size: 20px;
}
td{
background-color: white;
}

.btn{
text-decoration: none;
color: white;
font-size: 18px;
padding : 6px 8px;
border-radius: 4px;
}

.update{
background-color: dodgerblue;
}

.delete{
background-color: red;
opacity: 0.7;
}

body{
background-color: whitesmoke;
padding:0;
margin:0;
}

.action-th{
width: 200px;
}